fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
requests
python-multipart
python-dotenv
chromadb
sentence-transformers
scikit-learn
redis
tenacity
numpy
pydantic
pydantic-settings
boto3
aiohttp
anthropic
apscheduler
bcrypt
beautifulsoup4
cohere
opencv-python-headless
deep-translator
python-docx
fake-useragent
feedparser
PyMuPDF
joblib
pyjwt
kaggle
langdetect
matplotlib
networkx
pandas
pdfplumber
Pillow
pytesseract
sendgrid
shap
transformers
twilio
word2number
xgboost
